*{text-decoration:none;}
/*CABEÇÀRIO*/

header{position:fixed;background:rgba(255, 94, 89, 1.0);width:100%; height:60px;}
nav{text-align:right;width: 100%;}
#check{display:none;}
.icon{display:none;}

a{color:rgba(255, 255, 255, 1.0);text-decoration:none;font-family: 'Merriweather Sans', sans-serif;cursor: pointer;}
.barra{text-align:center;padding-right:20px; width:100%; top:0px; position:fixed; transition: all 1s ease;}
.link{display:inline-block;cursor:pointer;padding:20px;transition:all 0.2s linear;}
.link:hover{background:rgba(255, 255, 255, 1.0);color:rgba(255, 94, 89, 1.0);}



@media screen and(max-width:750px){
	nav{text-align:center;border:2px solid #000;}
}







@media screen and (max-width:480px){

	
		header{width:100%;background:#000; height:70px;}
		nav{width:100%; position:absolute; top:60px; bottom:20px;}

		a{color:rgba(255, 255 255, 1.0);text-decoration:none;font-family: 'Merriweather Sans', sans-serif;cursor: pointer;}
		a:hover{color:rgba(255, 94, 84, 1.0);}

		/*CLASS MENU*/


		#check{display:none;}
		nav{}

		.icon{display:block;font-size:40px;color:rgba(255, 255, 255, 1.0);cursor:pointer; top:0px;padding:10px; left:30px; position:fixed;z-index:2;}

		.barra{border:none;left:-300px;background:rgba(255, 94, 89, 1.0);height:100%; width:200px; top:0px; position:fixed; transition: all 1s ease;}
		.link{color:rgba(255, 255, 255, 1.0);text-align:left;display:block;cursor:pointer;padding:20px;transition:all 0.2s linear;}
		.link:hover{background:rgba(255, 255, 255, 1.0); color:rgba(255, 94, 84, 1.0);}

		#check:checked ~ .barra{transform: translateX(300px);}





}









